<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentApartmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>edu.sas.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findApart</servlet-name>
    <servlet-class>edu.sas.servlet.FindApartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findApart</servlet-name>
    <url-pattern>/findApartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>edu.sas.servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dormitoryManagerServlet</servlet-name>
    <servlet-class>edu.sas.servlet.DormitoryManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dormitoryManagerServlet</servlet-name>
    <url-pattern>/dormitoryManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>apartmentInformation</servlet-name>
    <servlet-class>edu.sas.servlet.ApartmentInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apartmentInformation</servlet-name>
    <url-pattern>/apartmentInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addApartment</servlet-name>
    <servlet-class>edu.sas.servlet.AddApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addApartment</servlet-name>
    <url-pattern>/addApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dormitoryInformation</servlet-name>
    <servlet-class>edu.sas.servlet.DormitoryInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dormitoryInformation</servlet-name>
    <url-pattern>/dormitoryInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteApartmentServlet</servlet-name>
    <servlet-class>edu.sas.servlet.DeleteApartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteApartmentServlet</servlet-name>
    <url-pattern>/deleteApartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>apartmentStudentServlet</servlet-name>
  	<servlet-class>edu.sas.servlet.ApartmentStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>apartmentStudentServlet</servlet-name>
  	<url-pattern>/apartmentStudentServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>